settings.local.json
datasets
__pycache__/

results/*
!results/benchmark_*_results.csv
!results/power_measure_*.csv
!results/benchmark_parsed.csv
!results/evaluation_result.csv
!results/generate_result.csv

!results/model/
results/model/**
!results/model/**/
!results/model/**/*.yaml
!results/model/**/*.yml
!results/model/**/*.pt
!results/model/**/*.onnx
!results/model/**/*.tflite
!results/model/**/*.pb

**/val_float/**
**/val_int8/**
**/assets/**
**/out/**

results/model/**/*.png
results/model/**/*.jpg
results/model/**/*.jpeg
results/model/**/*.json
results/model/**/*.csv

!results/model/ap_comparison.csv

best_saved_model
best.onnx

epoch*.pt
*.npy
ai_runner.log
yolo26n.pt
*.log

docs/superpowers/

outputs

post_benchmark_outputs
Result.md