[submodule "stm32ai-modelzoo"]
	path = external/stm32ai-modelzoo
	url = https://github.com/Foahh/stm32ai-modelzoo
[submodule "stm32ai-modelzoo-services"]
	path = external/stm32ai-modelzoo-services
	url = https://github.com/Foahh/stm32ai-modelzoo-services
[submodule "TinyissimoYOLO"]
	path = external/TinyissimoYOLO
	url = https://github.com/Foahh/TinyissimoYOLO
[submodule "ultralytics"]
	path = external/ultralytics
	url = https://github.com/Foahh/ultralytics
