settings.local.json
datasets
__pycache__/

results/*
!results/benchmark_underdrive/
!results/benchmark_nominal/
!results/benchmark_overdrive/
!results/benchmark_parsed.csv

!results/model/
results/model/*
!results/model/tinyissimoyolo_v8_192/
results/model/tinyissimoyolo_v8_192/weights/best_saved_model/variables

!results/model/tinyissimoyolo_v8_256/
results/model/tinyissimoyolo_v8_256/weights/best_saved_model/variables

*.npy
ai_runner.log
yolo26n.pt
*.log