[submodule "stm32ai-modelzoo"]
	path = stm32ai-modelzoo
	url = https://github.com/Foahh/stm32ai-modelzoo
[submodule "stm32ai-modelzoo-services"]
	path = stm32ai-modelzoo-services
	url = https://github.com/Foahh/stm32ai-modelzoo-services
[submodule "TinyissimoYOLO"]
	path = TinyissimoYOLO
	url = https://github.com/Foahh/TinyissimoYOLO
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/Foahh/ultralytics
